In [1]:
#conditional

In [1]:
nom=5
if (nom >= 6):
    print('done')
elif (nom==5):
    print('true')
else:
    print('error')

true

In [2]:
#looping

In [3]:
#while

In [15]:
i=0
while(i<=10):
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9
10

In [6]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#Experimental Operations

In [5]:
int('1256')

1256

In [6]:
int(3.33)

3

In [7]:
float(15)

15.0

In [8]:
str(123)

'123'

In [9]:
bool('')

False

In [10]:
bool('sara')

True

In [ ]:
#functions

In [5]:
def addNumber(num1,num2):
    "additional function"
    print(num1 + num2)
addNumber(2,3)

5

In [4]:

def my_abs(x):
    if not isinstance(x, (int, float)):
        raise TypeError('bad operand type')
    if x >= 0:
        return x
    else:
        return -x

my_abs(5)
my_abs('sara')

TypeError: bad operand type

In [34]:
#Keyword arguments


def data(name,age,**kw):
    print('name:',name,'age:',age,'other:',kw)
data('sara',21)

data('sara attia',21,city='egypt')

data('m7md',21,job='softwaer engineer')

name: sara age: 21 other: {}
name: sara attia age: 21 other: {'city': 'egypt'}
name: m7md age: 21 other: {'job': 'softwaer engineer'}

In [37]:
extra = {'city': 'Beijing', 'job': 'Engineer'}
person('Jack', 24, **extra)  
#name: Jack age: 24 other: {'city': 'Beijing', 'job': 'Engineer'}

Jack 24 Beijing Engineer

In [41]:
def data2(name,age,*,city,job):
    print(name,age,city,job)
data2('sara',21,city='egypt',job='softwaer engineer')

sara 21 egypt softwaer engineer

In [24]:
def person(name, age, *, city, job):
    print(name, age, city, job)
person('Jack', 24, city='Beijing', job='Engineer')

Jack 24 Beijing Engineer

In [63]:
def l(name, age, *args, city, job):
    print(name, age, args, city, job)
l('sara',21,'sara',city='egypt',job='stu')
l('sara',21,city='egypt',job='stu')

sara 21 ('sara',) egypt stu
sara 21 () egypt stu

In [49]:
#Argument combination

In [55]:
def f1(a, b, c=0, *args, **kw):
    print('a =', a, 'b =', b, 'c =', c, 'args =', args, 'kw =', kw)
def f2(a, b, c=0, *, d, **kw):
    print('a =', a, 'b =', b, 'c =', c, 'd =', d, 'kw =', kw)

In [56]:
f1(1,2)

a = 1 b = 2 c = 0 args = () kw = {}

In [57]:
f1(1,2,5)

a = 1 b = 2 c = 5 args = () kw = {}

In [58]:
f1(1, 2, 3, 'a', 'b')

a = 1 b = 2 c = 3 args = ('a', 'b') kw = {}

In [59]:
f1(1, 2, 3, 'a', 'b', x=99)

a = 1 b = 2 c = 3 args = ('a', 'b') kw = {'x': 99}

In [62]:
f2(1, 2, d=99, ext=None)

a = 1 b = 2 c = 0 d = 99 kw = {'ext': None}

In [61]:
#Recursive function

In [65]:
def fact(n):
    return fact_iter(n, 1)
def fact_iter(num, product):
    if num == 1:
        return product
    return fact_iter(num - 1, num * product)

fact(3)
fact(5)

120

In [26]:
#oop--->class&&objects

In [1]:
class Employee:
    'All employees base class'
    empCount = 0
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
        Employee.empCount += 1
    def displayCount(self):
        print("Total Employee %d" % Employee.empCount )
    def displayEmployee(self):
        print("Name : ", self.name, ", Salary: ", self.salary)
        "Create the first object of the employee class"
        
        
emp1 = Employee("Zara", 2000)
"Create the second object of the employee class"
emp2 = Employee("Manni", 5000)
emp1.displayEmployee()
emp2.displayEmployee()
print("Total Employee %d" % Employee.empCount)

Name :  Zara , Salary:  2000
Name :  Manni , Salary:  5000
Total Employee 2

In [3]:
class Parent: # Define the parent class
    parentAttr = 100
    def __init__(self):
        print("Call parent class construction method")
    def parentMethod(self):
        print('Call parent class method')
    def setAttr(self, attr):
        Parent.parentAttr = attr
    def getAttr(self):
        print("Parent class attribute", Parent.parentAttr)
class Child(Parent): # Define a sub-class
    def __init__(self):
        print("Call sub-class construction method")
    def childMethod(self):
         print('Call sub-class method')
              
              
c = Child() # Instantiate sub-class
c.childMethod() # Call sub-class method
c.parentMethod() # Call parent class method
c.setAttr(200) # Re-call parent class method - set attributes
c.getAttr() # Re-call parent class method - get attributes

Call sub-class construction method
Call sub-class method
Call parent class method
Parent class attribute 200

In [1]:
class JustCounter:
    __secretCount = 0 # Private variable
    publicCount = 0 # Public variable
    def count(self):
        self.__secretCount += 1
        self.publicCount += 1
        print(self.__secretCount)
counter = JustCounter()
counter.count()
counter.count()
print(counter.publicCount)
print(counter.__secretCount) # Error. Instance cannot access private variable

1
2
2

AttributeError: 'JustCounter' object has no attribute '__secretCount'

In [2]:
import time
localtime = time.localtime(time.time())
print("Local time:", localtime)

Local time: time.struct_time(tm_year=2021, tm_mon=8, tm_mday=14, tm_hour=14, tm_min=40, tm_sec=24, tm_wday=5, tm_yday=226, tm_isdst=0)

In [3]:
import time
localtime = time.asctime( time.localtime(time.time()) )
print("Local time :", localtime)

Local time : Sat Aug 14 14:44:12 2021

In [4]:
print(time.strftime("%Y-%m-%d %H:%M:%S", time.localtime()))

2021-08-14 14:55:18

In [5]:
print(time.strftime("%a %b %d %H:%M:%S %Y", time.localtime()))

Sat Aug 14 14:55:40 2021

In [ ]:
#re

In [7]:
import re
print(re.match('www', 'www.runoob.com').span()) # Match at start
print(re.match('com', 'www.runoob.com')) # Match not at start

(0, 3)
None

In [2]:
print(re.search(r'com', 'www.runoob.com')) # Match not at start

NameError: name 're' is not defined